.section1 {
  height: 85vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #1a1a26;
  color: white;
  h1 {
    font-size: 2.7rem;
    font-weight: 800;
    line-height: 1.1;
    text-align: center;
  }
  .gradient_heading {
    background: linear-gradient(216.56deg, #e250e5 5.32%, #4b50e6 94.32%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
  }
  .setion11_btn {
    margin-top: 1rem;
    display: flex;
    gap: 0.7rem;
    button {
      padding: 0.6rem 2rem;
      background-color: transparent;
      color: white;
      border: 1px solid white;
      border-radius: 100rem;
      font-weight: 500;
      display: flex;
      align-items: center;
      gap: 0.4rem;
    }
    .createBtn {
      background-color: white;
      color: #12112a;
      font-weight: 600;
    }
  }
}
