.epStep2Card {
  width: 17.5rem;
  //   height: 25rem;
  background-color: #151241;
  padding: 1rem;
  border-radius: 0.7rem;
  display: grid;
  gap: 0.6rem;
  img {
    height: 12rem;
    object-fit: cover;
    width: 100%;
    border-radius: 1rem;
  }
  h5 {
  }
  p {
    font-size: 0.9rem;
  }
}
